<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/html-tut.css">
    <link rel="stylesheet" href="prism.css">
    <script src="prism.js"></script>


    <title>Python Tuorials - Free</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-t">
        <div class="container-fluid ">
            <a class="navbar-brand" href="/">
                <img class="nav-t" src="img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#overview">Overview</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Tutorials
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/html-tuts">HTML</a></li>
                            <li><a class="dropdown-item" href="/css-tuts">CSS</a></li>
                            <li><a class="dropdown-item" href="/js-tuts">Java Script</a></li>
                            <li><a class="dropdown-item" href="/python-tuts">Python</a></li>
                            <li><a class="dropdown-item" href="/java-tuts">Java</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Contact Us</a>
                    </li>

                </ul>
                
            </div>
        </div>
    </nav>


    <!-- hamburger menu bar  -->
    <div class="burger">
        <h2>Course content</h2>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <!-- course content  -->
    <div class="d-flex  justify-content-between container-resp">
        <div
            class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white html-side-bar html_side_bar_resp html-resp ">
            <a href="/"
                class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-5 fw-semibold">Python Tutorials</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a href="#1" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Let's Start</strong>
                        <small>#1</small>
                    </div>
                    <div class="col-10 mb-1 small"> What Is Programming and Why Python?
                    </div>
                </a>
                <a href="#2" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Python -</strong>
                        <small class="text-muted">#2</small>
                    </div>
                    <div class="col-10 mb-1 small">Downloading Python and Pycharm Installation
                    </div>
                </a>
                <a href="#3" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Python - </strong>
                        <small class="text-muted">#3</small>
                    </div>
                    <div class="col-10 mb-1 small">Using Modules & Pip In Python
                    </div>
                </a>

                <a href="#4" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Python - </strong>
                        <small class="text-muted">#4</small>
                    </div>
                    <div class="col-10 mb-1 small"> Writing Our First Python Program
                    </div>
                </a>
                <a href="#5" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Python - </strong>
                        <small class="text-muted">#5</small>
                    </div>
                    <div class="col-10 mb-1 small">Using Python As A Calculator
                    </div>
                </a>
                <a href="#6" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Python - </strong>
                        <small class="text-muted">#6</small>
                    </div>
                    <div class="col-10 mb-1 small">Comments, Escape Sequences & Print Statement
                    </div>
                </a>

            </div>
        </div>

        <div class="p-4 col-md-8 d-flex flex-column align-items-stretch flex-shrink-0 bg-white content-resp width-resp"
            style="width: 71.5999%;">
            <article class="blog-post" id="1">
                <h2 class="blog-post-title">What Is Programming and Why Python? #1</h2>
                <div>
                    <p>Guido Van Rossum created the Python Programming language in February 1991. Python is an
                        interpreted, high-level, general-purpose programming language.</p>
                    <p>Python allows us to create a game, build web apps, do general-purpose scripting, etc.</p>
                    <p>Before we dive into the details of Python, let's understand what the term Programming or Coding
                        means?</p>
                    <p>Programming helps human beings to reduce manual efforts , which can take hours to complete
                        manually.</p>
                    <p>In today's era, demand for programming is growing rapidly; i.e., there is a huge need for
                        software developers and programmers in IT (Tech) Industries.</p>
                    <p>To write code on any language, we need a friendly platform where we can write the code and can
                        execute it. For this, we use IDEs.</p>
                    <p>IDE – An IDE (Integrated Development Environment) is a software application that provides many
                        comprehensive facilities to programmers for software or application development.</p>
                    <p>Python is used by many of the best tech companies. Few of those companies are:</p>
                    <ol>
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Google</li>
                        <li>Reddit</li>
                        <li>Spotify</li>
                        <li>Quora</li>
                        <li>Dropbox</li>
                        <li>Netflix</li>
                    </ol>
                    <p>In the Next Video, we will see how to download and Install Pycharm.</p>
                </div>
            </article>
            <article class="blog-post">
                <h2 class="blog-post-title" id="2">Downloading Python and Pycharm Installation #2</h2>
                <div>
                    <p>In this tutorial, we'll download and install Python as well as an IDE called PyCharm. First of
                        all, let's head to Python's official website and download Python:</p>
                    <ul>
                        <li>Go to this link - <a href="https://www.python.org/downloads/" target="_blank"
                                rel="noopener">https://www.python.org/downloads/</a>.</li>
                        <li>From the above link, download the latest version of Python.</li>
                        <li>After visiting this link, click on the "Download Python" button.</li>
                        <li>Your download will start as soon as you click the button.</li>
                    </ul>
                    <p>Nice! You can run the installer and install Python. Now, Let's download Pycharm. But what is
                        Pycharm, and why do we need it?</p>
                    <p><strong>Pycharm </strong>is one of the best Integrated Development Environments (IDEs) for Python
                        Language developed by the Czech company JetBrains. To download Pycharm, follow the steps below:
                    </p>
                    <ol>
                        <li>Go to this link - <a href="https://www.jetbrains.com/pycharm/download/#section=windows"
                                target="_blank"
                                rel="noopener">https://www.jetbrains.com/pycharm/download/#section=windows</a>.</li>
                        <li>After visiting the above link, download the community version of Pycharm.</li>
                        <li>Click on the community button to download it.</li>
                        <li>Your download will start.</li>
                    </ol>
                    <p>After that, install it like any other software. After Installing both Python and Pycharm, open
                        terminal (Powershell), and then type 'python' and press Enter.</p>
                    <p>You should see the output like this.</p>
                    <p><img src="https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-2/1.jpg"
                            width="742" height="418"></p>
                    <p>&nbsp;</p>
                    <p><strong>Note:</strong> If you are getting this or similar error - "The term 'pip' is not
                        recognized as the name of a cmdlet, function, or operable program," watch this video here - <a
                            href="https://youtu.be/xdj0mGmuNjc" target="_blank"
                            rel="noopener">https://youtu.be/xdj0mGmuNjc</a>.</p>
                    <p>Then Install Pycharm like any other software and do not make any changes while installing it.</p>
                    <p>And that's all! You have your Python + Pycharm installed on your computer.</p>
                </div>
            </article>

            <article class="blog-post">
                <h2 class="blog-post-title" id="3">Using Modules & Pip In Python #3</h2>
                <div>
                    <p>Sometimes we have to use someone else's code in our program because it saves us a lot of time.
                        Today, we will learn a technique to use code that is not written by us but will enhance the
                        quality of our program, save us time, and of course, it is legal and free.</p>
                    <p>Let us understand what utilities like modules and pip are,</p>
                    <p><strong>Module </strong>– Module or library is a file that contains definitions of several
                        functions, classes, variables, etc. which is written by someone else for us to use.</p>
                    <p><strong>Pip </strong>– Pip is a package manager for Python i.e., pip command can be used to
                        download any external module in Python. It is something that helps us to get code written by
                        someone else from somewhere.</p>
                    <p>We can install a module in our system by using pip command :</p>
                    <ul>
                        <li>Open cmd or Powershell in your system.</li>
                        <li>And then, type pip install module_name and press enter.</li>
                        <li>Once you do that, the module will start downloading and will install automatically on your
                            computer.</li>
                    </ul>
                    <p>Example, for installing flask I will do this:</p>
                    <p><img class="img-fluid img-responsive mx-auto d-block"
                            src="https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-3/2-1.jpg"
                            width="670" height="377"></p>
                    <p>After pressing the enter key, you will see something like this:</p>
                    <p><img class="img-fluid img-responsive mx-auto d-block"
                            src="https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-3/2-2.jpg"
                            width="662" height="372"></p>
                    <p>After installing any module in Python, you can import it into your program or your Python
                        projects. For example, to use flask, I will type "import flask" at the top of my Python program.
                    </p>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
<pre
    class=" language-python"><code class=" language-python"><span class="token keyword">import</span> flask</code></pre>
                        </li>
                    </div>
                    <p>There are two types of modules in Python:</p>
                    <ul>
                        <li>
                            <h5>Built-in Modules:</h5>
                        </li>
                    </ul>
                    <p>Built-in modules are the modules that are pre-installed in Python i.e., there is no need to
                        download them before using. These modules come with python interpreter itself.</p>
                    <p>Example – random, os, etc.</p>
                    <p>To get a complete list of built-in modules of python head to the following page of the official
                        documentation - <a href="https://docs.python.org/3/py-modindex.html" target="_blank"
                            rel="noopener">https://docs.python.org/3/py-modindex.html</a>.</p>
                    <ul>
                        <li>
                            <h5>External Modules:</h5>
                        </li>
                    </ul>
                    <p>These are the modules that are not pre-installed in Python i.e., we need to download them before
                        using them in our program.</p>
                    <p>Example – Flask, Pandas, TensorFlow, etc.</p>
                    <p>That's all about modules in Python. I hope you are enjoying this course. Please make sure to
                        subscribe to CodeWithHarry on YouTube if you think my efforts and this content is helpful.</p>
                </div>
            </article>

            <article class="blog-post">
                <h2 class="blog-post-title" id="4"> Writing Our First Python Program #4</h2>
                <div>
                    <p>Today we will be writing our first program in Python Language. I know you were waiting to do this
                        for long.</p>
                    <p>Let's get to business and start writing our first python program. Follow the below steps:</p>
                    <ol>
                        <li>Open Pycharm and create a new file in it.</li>
                        <li>Keep in mind the file name should not match any module name.</li>
                        <li>After creating a new file, type print("Hello World")</li>
                        <li>And then run your program.</li>
                        <li>You will get the output as "Hello World" in your terminal.</li>
                    </ol>
                    <p>So, this is our first python program, and in this program, we just used a print function. In this
                        function, whatever we pass in parenthesis () in a double quote or single quote gets printed (as
                        it is) in the terminal.</p>
                    <p>Make sure you have written and executed the below code to get a feel of what it looks like!</p>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
<pre
    class=" language-python"><code class=" language-python"><span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Hello world! I am learning Python from CodeWithHarry YouTube channel"</span><span class="token punctuation">)</span></code></pre>
                        </li>
                    </div>
                    <p>So, that's all in this tutorial. See you in the next one, where we will see how to use python as
                        a calculator!&nbsp;</p>
                </div>

            </article>

            <article class="blog-post">
                <h2 class="blog-post-title" id="5"> Using Python As A Calculator #5</h2>
                <div>
                    <p>First of all, I would like to tell you one thing - the main motive of using Python is not to do
                        raw calculations. You will perhaps never use python to calculate 3+8 or 34*232 for that matter.
                    </p>
                    <p>Yeah, that’s true! Python is not just limited to do calculations. It has a vast number of uses
                        and has many merits or advantages. Using Python you can do most of the things, such as creating
                        games, apps, software, websites, etc.&nbsp;</p>
                    <ul>
                        <li>To do calculations in Python, open Windows PowerShell (or terminal of your choice if you are
                            on Linux or Mac) and type, "python" to open the Python interpreter. You will see a screen
                            like this:</li>
                    </ul>
                    <p><img class="img-fluid img-responsive mx-auto d-block"
                            src="https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-5/Py-1.jpg"
                            width="65%"></p>
                    <ul>
                        <li>Then simply type or put whatever mathematical calculation you want to do. 5+9, 6-9 choice is
                            all yours!</li>
                    </ul>
                    <p><img class="img-fluid img-responsive mx-auto d-block"
                            src="https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-5/Py-2.jpg"
                            width="65%"></p>
                    <p>When you type python, you are inside an interactive python shell where you can type anything and
                        the value is displayed on the screen after the computation. That's how you can use python as a
                        calculator.</p>
                    <p><img class="img-fluid img-responsive mx-auto d-block"
                            src="https://api.codewithharry.com/media/videoSeriesFiles/courseFiles/python-tutorials-for-absolute-beginners-5/Py-3.jpg"
                            width="65%"></p>
                    <p>And that’s how you can easily do any type of mathematical calculation in Python. I hope you are
                        enjoying this series of videos :)</p>
                </div>
            </article>
            <article class="blog-post">
                <h2 class="blog-post-title" id="6">Comments, Escape Sequences & Print Statement #6</h2>
                <div>
                    <p>Comments are used to write something which the programmer does not want to execute. Comments can
                        be written to mark author name, date when the program is written, adding notes for your future
                        self, etc.</p>
                    <ul>
                        <li>Comments are used to make the code more understandable for the programmer.</li>
                        <li>The Interpreter does not execute comments.</li>
                    </ul>
                    <p>There are two types of comments in Python Language -:</p>
                    <ul>
                        <li>Single Line Comment</li>
                        <li>Multi-Line Comment</li>
                    </ul>
                    <p><strong>Single Line Comment</strong>: Single Line comments are the comments which are written in
                        a single line, i.e., they occupy the space of a single line.</p>
                    <ul>
                        <li>We use # (hash/pound to write single-line comments).</li>
                        <li>E.g., the below program depicts the usage of comments.</li>
                    </ul>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
    <pre
        class=" language-python"><code class=" language-python"><span class="token keyword">import</span> os
<span class="token comment">#This is a comment</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Main code started"</span><span class="token punctuation">)</span>

<span class="token comment">#Now I will write my code here:</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>os<span class="token punctuation">.</span>listdir<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span></code></pre>
                        </li>
                    </div>
                    <p><strong>Multi-Line Comment</strong>: Multi-Line comments are the comments which are created by
                        using multiple lines, i.e., they occupy more than one line in a program.</p>
                    <ul>
                        <li>We use ' ' '….. Comment ….' ' ' for writing multi-line comments in Python (Use lines
                            enclosed with three quotes for writing multi-line comments). An example of a multi-line
                            comment is shown below:</li>
                    </ul>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
    <pre
        class=" language-python"><code class=" language-python"><span class="token keyword">import</span> os
<span class="token triple-quoted-string string">'''This is a comment
Author: Harry
Date: 27 November 2020
Multi-line comment ends here
'''</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Main code started"</span><span class="token punctuation">)</span>

<span class="token comment">#Now I will write my code here:</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>os<span class="token punctuation">.</span>listdir<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span></code></pre>
                        </li>
                    </div>
                    <h4>Python Print() Statement:</h4>
                    <p>print() is a function in Python that allows us to display whatever is written inside it. In case
                        an operation is supplied to print, the value of the expression after the evaluation is printed
                        in the terminal. For example,</p>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
    <pre
        class=" language-python"><code class=" language-python"><span class="token keyword">import</span> os
<span class="token keyword">import</span> flask

<span class="token comment"># print statement for printing strings</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Harry is a programmer"</span><span class="token punctuation">)</span>

<span class="token comment"># Print statement with a literal</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token number">1</span><span class="token operator">+</span><span class="token number">87</span><span class="token punctuation">)</span>

<span class="token comment">#This will print "Harry is a programmer" and 88 on the screen respectively!</span></code></pre>
                        </li>
                    </div>
                    <p><strong>end</strong>: end argument allows us to put something at the end of the line after it is
                        printed. In simple words, it allows us to continue the line with " " or ',' or anything we want
                        to put inside these quotes of the end. <br>It simply joins two different print statements using
                        some string or even by space. Example:</p>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
    <pre
        class=" language-python"><code class=" language-python"><span class="token keyword">import</span> os
<span class="token keyword">import</span> flask

<span class="token comment"># print statement for printing strings</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Harry is a programmer"</span><span class="token punctuation">,</span> end<span class="token operator">=</span><span class="token string">"**"</span><span class="token punctuation">)</span>

<span class="token comment"># Print statement with a literal</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token number">1</span><span class="token operator">+</span><span class="token number">87</span><span class="token punctuation">)</span>

<span class="token comment">#This will print "Harry is a programmer**88" on the screen </span></code></pre>
                        </li>
                    </div>
                    <h4>Escape Sequences :</h4>
                    <ul>
                        <li>An <strong>Escape Sequence character </strong>in Python is a sequence of characters that
                            represents a single character.</li>
                        <li>It doesn't represent itself when used inside string literal or character.</li>
                        <li>It is composed of two or more characters starting with backslash \ but acts as a single
                            character. Example \n depicts a new line character.</li>
                    </ul>
                    <p>Some more examples of escape sequence characters are shown below:</p>
                    <h4>Commonly Used Escape Sequences:</h4>
                    <table border="1">
                        <tbody>
                            <tr>
                                <td><strong>Escape Sequences</strong></td>
                                <td><strong>Description&nbsp;</strong></td>
                            </tr>
                            <tr>
                                <td>\n&nbsp;</td>
                                <td>Inserts a new line in the text at the point</td>
                            </tr>
                            <tr>
                                <td>\\</td>
                                <td>Inserts a backslash character in the text at the point</td>
                            </tr>
                            <tr>
                                <td>\"</td>
                                <td>
                                    <p>Inserts a double quote character in the text at that point</p>
                                </td>
                            </tr>
                            <tr>
                                <td>\'</td>
                                <td>Inserts a single quote character in the text at that point</td>
                            </tr>
                            <tr>
                                <td>\t</td>
                                <td>
                                    <p>Inserts a tab in the text at that point</p>
                                </td>
                            </tr>
                            <tr>
                                <td>\f</td>
                                <td>Inserts a form feed ln the text at that point</td>
                            </tr>
                            <tr>
                                <td>\r</td>
                                <td>
                                    <p>Inserts a carriage return in the text at that point</p>
                                </td>
                            </tr>
                            <tr>
                                <td>\b</td>
                                <td>Inserts a backspace in the text at that point</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <h4>Code file as described</h4>
                    <div class="code-toolbar">
                        <li style="list-style: none;">
    <pre class=" language-python"><code class=" language-python"><span class="token comment">#Please dont remove this line</span>
<span class="token triple-quoted-string string">"""
This is a
Multiline Comment
"""</span>
<span class="token triple-quoted-string string">"""
This is a comment
"""</span>
<span class="token comment"># print("Subscribe CodeWithHarry now","Bhai video bhi like kar dena")</span>
<span class="token comment"># print("next line")</span>
<span class="token comment"># print("C:\'narry")</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Harry is \n good boy \t1"</span><span class="token punctuation">)</span> <span class="token comment">#comment after statement</span>

</code></pre>
                        </li>
                    </div>
                </div>

            </article>
        </div>
    </div>
    <footer style=" color: white; " class="">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2021 tcode.com, Inc. · <a href="/">Privacy</a> · <a href="/">Terms</a></p>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="resp.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        -->
</body>

</html>